{% extends 'base.html' %}

{% block title %}About{% endblock%}
{% block style%}
    <style>
        .container{
            color:white;
            margin-top: 20px;
        
        }
    </style>
{% endblock%}
{% block content %}
<div class="container">
nique ta mere
<div class="sub_div">
    <div class="navbar">
        <a href="{{url_for('home')}}">Home</a>
        <a href="#about" class="active">About</a>
        <a href="{{url_for('contact')}}">Contact</a>
    </div>
</div></div>

{% endblock %}

