<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard: {{ user }}</title>
</head>
<body>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.new_name }}
    {{ form.new_button }}
    <br>
    {{ form.search_text }}
    {{ form.search_button }}
    {{ form.select_tag }}
    <br>
    {{ form.aggregate_button }}
    {{ form.delete_button }}
    <br>
    <h1>Notes Markdown</h1>
    {% for file in files %}
        <div>
            <a href="{{ file }}">{{ file.split('.')[0] }}</a>
            <input type="checkbox" name="{{ file+'_selected' }}">
        </div>
    {% endfor %}
</form>

</body>
</html>