
{% extends 'base.html' %}

        {% block link %}  
        <script src="https://unpkg.com/mermaid@9.2.2/dist/mermaid.min.js"></script>
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-svg.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/colorful_stylecode.css')}}"/>
        {% endblock %}
        <style>
            .md{
                color:black;
            }

            
            
        </style>
        {% block title %}Editor{% endblock %}

    {% block content %}
    <div class="w3-container w3-center animate-top2">
    <div class="editor">
        <form method="POST">
            <label for="markdown_text" style=" color: white; margin: 5px; font-size:20px;">Rédigez votre question</label>
            {{ form.hidden_tag() }}
        </div>
            <div class="md">
                <div class="md2">   
            {{ form.markdown_text(rows=10, style="width:90%;") }}
            </div>
                <div class="save">
            {{ form.submit(class_="btn-log5") }}
            <button class="btn-log5" type="button"><a href="{{url_for('dashboard')}}" class="link">Return</a></button><br>
            </div>
            </div>
        </form>

        <div class="affichage" style="color: black;">{{render|safe}}</div>
        </div>
    {% endblock %}